/* common css */
* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
main {
  width: 1000px;
  margin: 100px auto;
}
.text-center {
  text-align: center;
}
/* header style */
.header {
  background: url("../images/banner/banner1.png");
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.header_content {
  width: 45%;
  text-align: right;
  padding: 0px 36px;
}
.header_content h1 {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
}
.header_description {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.Contact-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background: #f15b22;
  padding: 10px 26px;
  border: none;
}
/*  My failures of previous year */
.list {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 20px;
}
.list li {
  list-style-image: url("../images/icons/check.png");
}
.my-previous-year {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 100px 0px;
}
.card-title {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.card{
  display: flex;
  justify-content: space-around;
}
.card-img{
 display: flex;
 justify-content: center;
}